# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
ENV/
.venv/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
*.egg-info/
.installed.cfg
*.egg

# Test and coverage
.coverage
*.cover
nosetests.xml
coverage.xml
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest cache
.pytest_cache/

# IDE specific files
.vscode/
.idea/
*.swp
